.statistics {
  position: relative;
  padding: 0%;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: rgb(61, 61, 61);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px;
  background-color: rgb(163, 218, 234);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 400px;
margin-bottom: 15px;

}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #3d3d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 400px;
  margin: 0%;

}

.list-item {
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
}

.item {
  width: 42px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 20px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgb(172, 224, 233);


}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #d7f5f9;
}

